html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #000;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}
main .bg {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../../images/tip/index/index_tip.png) no-repeat;
  background-size: 400vw 100%;
  background-position: 0 0;
}
main .mt2 {
  background-position: -100vw 0;
}
main .mt3 {
  background-position: -200vw 0;
}
main .mt4 {
  background-position: -300vw 0;
}
main .okb {
  margin-top: 2%;
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 20.25rem;
  height: 5.626rem;
  background: url(../../images/tip/button/okb.png) no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
main .okb:active, main .okb:hover {
  background-position: 0 -5.626rem;
}
main .t3 {
  bottom: 74%;
}
main .t4 {
  bottom: 20%;
}
main .off {
  color: #fff;
  width: 3.438rem;
  height: 3.438rem;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  line-height: 0;
}
main .off span {
  display: block;
  margin-top: 1.4rem;
}
main .off:active, main .off:hover {
  color: #4c4c4c;
  background-color: #fff;
}

a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 100;
}